{
  "notification_channel": "{{ cicms_cms_settings.notification_channel }}",
  "upstream_smtp": "{{ cicms_cms_settings.upstream_smtp }}",
  "taxonomy_feed": "{{ cicms_cms_settings.taxonomy_feed }}",
  "approval_workflow": "{{ cicms_cms_settings.approval_workflow }}"
}
