# Control node secrets (example only)
CTI_SS_TAXII_SIEM_INGESTOR_PASSWORD=
CTI_SS_TAXII_TELEMETRY_FEEDER_PASSWORD=
NG_SIEM_TAXII_PASSWORD=
NG_SOAR_SIEM_INGEST_TOKEN=
TELEMETRY_FEEDER_TAXII_PASSWORD=

# Optional registry credentials
CTI_SS_REGISTRY_USERNAME=
CTI_SS_REGISTRY_PASSWORD=
CICMS_DOCKER_PASSWORD=
